*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: darkblue;
    font-family:'Raleway', sans-serif;
    font-size: 32px;
    display: block;
    width: 100%;
    height: auto;
}

#title{
    color:white;
    padding: 10px;
}

#contact{   
    float: right;
    color: white;
}

#contact a{
    text-decoration: none;
    color: white;
}

a {
    transition: background-color .5s;
  }
  
  a:hover {
    background-color: gold;
  }

#welcome{
    text-align: center;
    font-family:'Raleway', sans-serif;
    font-size: 32px;
}

#welcome h1{
    margin-top: 30px;
    text-decoration: underline;
}

#welcome h2{
    margin-top: 30px;
    font-size: 33px;
    padding: 10px;
}